{% extends "base.html" %}
{% load thumbnail %}
{% block title %} HOME PAGE {% endblock %}

{% block body %}
   
    <div class="row">
        {% for post in posts %}
            <div class="col-sm-6 col-md-4">
                <div class="card" >
                    {% thumbnail post.image '100x100' crop="center" as im%}
                        <img src="{{im.url}}" class="card-img-top" alt="...">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'firstapp:detail' post.id %}" class="btn btn-primary">View Image</a>
                    </div>
                </div>
            </div>
            
            {% empty %}
                <div class="col-sm-6 offset-3 text-center py-5 my-5">
                    <h3>Welcome!</h3>
                    <p>Add your first image?</p>
                    <a href="{% url 'firstapp:post' %}" class="btn btn-lg btn-success"> Upload Image</a>
        {% endfor %}
    </div>
    
{% endblock %}





